.adminLink {
  position: fixed;
  top: 10vh;
  right: 5vh;
  font-size: 5vh;
  color: var(--primary);
  cursor: pointer;
  z-index: 3;
}

@media screen and (min-width: 1200px) {
  .adminLink {
    bottom: 8vh;
    top: auto;
  }
}